cas:
  name: cas
  # default container: jetty
  container: jetty
  war_file:
    source: salt://myfiles/cas.war
  properties_file:
    source: salt://myfiles/cas.properties
    template: jinja
  # For the JSON service registry. Installation path: /services
  json_services:
    gerrit:
      source: salt://myfiles/cas_services/gerrit.json
