{% import_yaml 'cas/defaults.yaml' as defaults %}

{# merge the pillar:lookup dict into the defaults/os specific dict #}
{% set lookup = salt['pillar.get']('cas:lookup',
                                   default=defaults.cas,
                                   merge=True) %}

{# merge the actual cas pillar into the above combined dict #}
{% set cas = salt['pillar.get']('cas', default=lookup, merge=True) %}

{% macro sls_block(dict) %}
{% for key, value in dict.items() %}
- {{ key }}: {{ value|json() }}
{% endfor %}
{% endmacro %}
